.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.youtube-search-container {
  width: 90%;
}
.yt-search .div {
  margin-bottom: 30px;
}
.youtube-search-container input {
  outline: none;
  width: 300px;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  height: 20px;
}
.youtube-search-container button {
  width: 100px;
  border-radius: 20px;
  outline: none;
  padding: 0 10px;
  height: 20px;
}

.yt-result {
  display: flex;
  margin-bottom: 20px;
}
.left {
  width: 30%;
}
.right {
  text-align: left;
  width: 80%;
  padding: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left iframe {
  width: 100%;
  height: 185px;
}
.title {
  font-size: 18px;
  font-weight: 600;
}
